 /* body */
 @import url("https://fonts.googleapis.com/css?family=Rubik+Moonrocks:regular");
 body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #333;
  }

  /* dropdown menu */
  .menu {
    position: relative;
    display: inline-block;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100%;
  }

  .menu p{
    font-size: 45px;
    font-family: Rubik Moonrocks;
    color: #cc0001;
    text-shadow: 2px 2px 2px #dfceb0;
  }

  /* dropdown menu items */
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #444;
  }

  .menu ul li {
    display: block;
  }

  .menu ul li a {
    font-size: 27px;
    font-family: Rubik Moonrocks;
    color: #cc0001;
    
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }

  .menu ul li a:hover {
    background-color: #555;
  }

  /* Style the dropdown menu when it is open */
  .menu.open ul {
    display: block;
  }

  .description h2{
    color: #cc0001;
    font-size: 35px;
  }

  .description p{
    color: #444;
    font-size: 25px;
  }

  /* blurred background image */
  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('lasrak.jpg');
    backdrop-filter: blur(100px);
  }

  /* main content area */
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
    color: #333;
    padding: 20px;
  }

/* lighbox*/

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5)
}
.toolbarLB {
  text-align: right;
  padding: 3px;
}
.closeLB {
  color: red;
  cursor: pointer;
}
.lightbox .iframeContainer {
  vertical-align: middle;
  background: black;
  padding: 2px;
  opacity: 50%;
}
.lightbox.closed {
  display: none;
}



 
